<!-- 整車 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="main_car">
    <!-- PI -->
    <xacro:property name="PI" value="3.141592653"/>

    <!-- 包含子文件, 要在參數定義之後, 子文件才能使用父文件的参數 -->
    <xacro:include filename="car_base.xacro"/>
    <xacro:include filename="car_radar.xacro"/>
    <xacro:include filename="car_camera.xacro"/>
    <xacro:include filename="car_imu.xacro"/>
</robot>



<!--車輛尺寸與質量見 config/vehicle.yaml (單一來源)。輪胎 1kg 車體57.2kg 電池16.2kg-->